DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/basepot?schema=public

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BASE_APP_NAME=Base Pot

NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_CHAIN_NAME=Local Base Pot
NEXT_PUBLIC_CHAIN_CURRENCY_SYMBOL=ETH
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_BLOCK_EXPLORER_URL=http://localhost:8545

NEXT_PUBLIC_POT_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_USDC_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_DEPLOY_BLOCK=0
