DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/basepot?schema=public

NEXT_PUBLIC_APP_URL=https://your-app.vercel.app
NEXT_PUBLIC_BASE_APP_NAME=Base Pot

NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHAIN_NAME=Base
NEXT_PUBLIC_CHAIN_CURRENCY_SYMBOL=ETH
NEXT_PUBLIC_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_BLOCK_EXPLORER_URL=https://basescan.org

NEXT_PUBLIC_POT_CONTRACT_ADDRESS=0x239B43e2210984cC1b90a11F1B216fb3ccD37635
NEXT_PUBLIC_USDC_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
NEXT_PUBLIC_DEPLOY_BLOCK=44120371
